<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="humanBean" class="io.turntabl.springgettingstarted.HumanBean">
    <property name="fName" value="Patricia"/>
    <property name="lName" value="Agyekum"/>
    <property name="bestfriend" ref="bestfriend"/>
</bean>

    <bean id="bestfriend" class="io.turntabl.springgettingstarted.HumanBean">
        <property name="fName" value="Mary"/>
        <property name="lName" value="Afram"/>
    </bean>

</beans>